/* body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

#shortenedUrlContainer {
    margin-top: 20px;
}

#shortenedUrl {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
} */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Reset default margin and padding */
body {
    background-color: #232121;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body, h1, h2, p, input, button {
    margin: 0;
    padding: 0;
}


/* Basic styling */
.formContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 24px;
}

#hero {
    /* background-color: #f0f0f0; */
    
    padding: 10% 0;
    text-align: center;
}

#hero h2 {
    color: bisque;
    font-size: 30px;
    margin-bottom: 20px;
}

#urlForm {
    margin-bottom: 20px;
}

#urlInput {
    width: 40%;
    height: 5vh;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    font-size: large;
    
}

#shortenedUrlContainer {
    display: none;
    margin-top: 20px;
}

#shortenedUrl {
    width: 80%;
    height: 4vh;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: large;
}

.label {
	padding: 10px;
	font-size: 18px;
	color: #fff;
}

button {
    padding: 10px 20px;
    height: 8vh;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: large;
}

button:hover {
    background-color: #555;
}

#loader{
    display: none;
    justify-content: center;
}

#shortenedUrlContainer {
	position: absolute;
    width: 60%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.copy-text {
	position: relative;
	padding: 10px;
	/* background: #fff; */
	/* border: 1px solid #ddd; */
	border-radius: 10px;
}
.copy-text input.text {
	padding: 10px;
	font-size: 18px;
	color: #555;
	border: none;
	outline: none;
}
.copy-text button {
	/* padding: 10px; */
	background: #5784f5;
	color: #fff;
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 10px;
	cursor: pointer;
}

.copy-text button:active {
	background: #809ce2;
}
.copy-text button:before {
	content: "Copied";
	position: absolute;
	top: -45px;
	right: 0px;
	background: #5c81dc;
	padding: 8px 10px;
	border-radius: 20px;
	font-size: 15px;
	display: none;
}
.copy-text button:after {
	content: "";
	position: absolute;
	top: -20px;
	right: 25px;
	width: 10px;
	height: 10px;
	background: #5c81dc;
	transform: rotate(45deg);
	display: none;
}
.copy-text.active button:before,
.copy-text.active button:after {
	display: block;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

